.img-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 226px;
  //height: fit-content;
  min-height: 153px;
  .card-title {
    z-index: 3;
    text-align: center;
    position: relative;
    top: 4em;
    font-size: x-large;
    font-weight: bold;
    color: white;
  }
  .thumbnail {
    width: 226px;
    height: 150px;
    position: relative;
    filter: brightness(30%);
    transition: 200ms;
  }
  .thumbnail-hovered {
    width: 226px;
    height: 150px;
    transition: 200ms;
    filter: brightness(70%);
  }
}

