

$headerHeight : 120px;

.page-container{
    padding-top: calc($headerHeight + 8em);
    max-width: 53.5em;
    margin: auto;
}

.page-container-client{
    display: grid;
    grid-template-columns: 1fr 5fr;
    height: 100vh;
    .sideBar{
        border-right: 1px solid black;
        padding-top: calc(432px - 16em);
        padding-right: 30px;
        
    }

    .main-container{
        padding: 1em;
    }
}