

$headerHeight : 120px;

.page-container{
    padding-top: calc($headerHeight + 8em);
    max-width: 53.5em;
    margin: auto;
}

.page-container-client{
    display: grid;
    grid-template-columns: 1fr 2fr;
    .sideBar{
        border-right: 1px solid black;
    }

    .main-container{
        padding: 1em;
    }
}